<ion-popover-view>
  <ion-content>
    <div class="list">
      <button class="button button-full button-assertive icon-right ion-android-alert" ng-click="report()">{{'sectionsMorePopup_report' | translate}}</button>
      <button class="button button-full button-balanced icon-right ion-ios-download-outline" ng-click="savePhoto()">{{'sectionsMorePopup_savePhoto' | translate}}</button>
      <button class="item button button-full button-assertive icon-right ion-android-alert" ng-click="report()">{{'sectionsMorePopup_report' | translate}}</button>
      <button class="item button button-full button-balanced icon-right ion-ios-download-outline" ng-click="savePhoto()">{{'sectionsMorePopup_savePhoto' | translate}}</button>
    </div>
  </ion-content>
</ion-popover-view>
