.facebook-sign-in, .facebook-sign-in:hover{
  background-color: #3b5998;
  color: white;
  position: fixed;
  bottom: 80px;
}

.no-one {
  position: fixed;
  bottom: 20px;
}
.publish-button {

  .button {
  background-color: #444;
  height: 150px;
  width: 150px;
  margin-left: 30%;
  margin-top: 20%;
  box-shadow: 2px 2px 3px rgba(150, 150, 150, 1);
  }

  .button.icon:before{
    font-size: 50px !important;
  }
}
