.item {
  margin: 5px;
  border-style: none;
  font-family: initial;
  font-size: 14px;
}

.item-icon-left {
    padding-left: 70px;
}

.dn {
  display: none;
}

.dni {
  display: none !important;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.m0 {
  margin: 0;
}

.p0i {
  padding: 0 !important;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.size-10 {
  font-size: 10px;
}

.size-12 {
  font-size: 12px;
}

.size-14 {
  font-size: 14px;
}

.size-16 {
  font-size: 16px;
}

.size-18 {
  font-size: 18px;
}

.size-21 {
  font-size: 21px;
}

.size-24 {
  font-size: 24px;
}

.size-28 {
  font-size: 28px;
}

.size-36 {
  font-size: 36px;
}

.size-42 {
  font-size: 42px;
}

.size-48 {
  font-size: 48px;
}

.size-60 {
  font-size: 60px;
}

.size-72 {
  font-size: 72px;
}

.m5 {
  margin: 5px;
}

.m0t {
  margin-top: 0px;
}

.m5t {
  margin-top: 5px;
}

.m8t {
  margin-top: 8px;
}

.m0b {
  margin-bottom: 0px;
}

.m5b {
  margin-bottom: 5px;
}

.m5r {
  margin-right: 5px;
}

.m10 {
  margin: 10px;
}

.m10b {
  margin-bottom: 10px;
}

.m10t {
  margin-top: 10px;
}

.m15b {
  margin-bottom: 15px;
}

.m15r {
  margin-right: 15px;
}

.m20b {
  margin-bottom: 20px;
}

.m30b {
  margin-bottom: 30px;
}

.m40b {
  margin-bottom: 40px;
}

.m50b {
  margin-bottom: 50px;
}

.m10r {
  margin-right: 10px;
}

.m40r {
  margin-right: 40px;
}

.m25r {
  margin-right: 25px;
}

.m10l {
  margin-left: 10px;
}

.m5l {
  margin-left: 5px;
}

.m15l {
  margin-left: 15px;
}

.m15t {
  margin-top: 15px;
}

.m20r {
  margin-right: 20px;
}

.m20t {
  margin-top: 20px;
}

.m20ti {
  margin-top: 20px !important;
}

.m20tp {
  margin-top: 20%;
}

.m30tp {
  margin-top: 30%;
}

.m60tp {
  margin-top: 60%;
}

.m15 {
  margin: 15px;
}

.m15h {
  margin: 0 15px;
}

.p0 {
  padding: 0px;
}

.p10t {
  padding-top: 10px;
}

.p10h {
  padding-right: 10px;
  padding-left: 10px;
}

.p0r {
  padding-right: 0;
}

.p70r {
  padding-right: 70px;
}

.p70l {
  padding-left: 70px;
}

.p5h {
  padding: 0 5px;
}

.p20h {
  padding: 0 20px;
}

.p20v {
  padding: 20px 0;
}

.p20b {
  padding-bottom: 20px;
}

.p25b {
  padding-bottom: 25px;
}

.p25l {
  padding-left: 25px;
}

.p15l {
  padding-left: 15px;
}

.p15 {
  padding: 15px;
}

.p20 {
  padding: 20px;
}

.p15t {
  padding-top: 15px;
}

.p20t {
  padding-top: 20px;
}

.p50t {
  padding-top: 50px;
}

.p10 {
  padding: 10px;
}

.p10i {
  padding: 10px !important;
}

.p10b {
  padding-bottom: 10px;
}

.p45t {
  padding-top: 45px;
}

.p60t {
  padding-top: 60px;
}

.p60b {
  padding-bottom: 60px;
}

.m60t {
  margin-top: 60px;
}

.p45li {
  padding-left: 45px !important;
}

.m30v {
  margin: 30px 0;
}

.m10h {
  margin: 0 10px;
}

.m10v {
  margin: 10px 0;
}

.m20v {
  margin: 20px 0;
}

.m30v {
  margin: 30px 0;
}

.m30a {
  margin: 30px auto;
}

.m-negative-l {
  margin-left: -0.9375rem;
}

.br100 {
  border-radius: 100% !important;
}

.lh {
  line-height: 0;
}

.lh140 {
  line-height: 140%;
}

.oh {
  overflow: hidden;
}

.vm {
  vertical-align: middle;
}

.vt {
  vertical-align: top;
}

.ma {
  margin: 0 auto;
}

.tu {
  text-transform: uppercase;
}

.tl {
  text-transform: lowercase;
}

.line {
  border-top: 1px solid #F8F8FB;
  margin: 0.7rem 0;
}

.line-white {
  border-top: 1px solid #fff;
  margin: 0.7rem 0;
}

.line-t {
  border-top: 1px solid #E9E9EC;
}

.line-b {
  border-bottom: 1px solid #E9E9EC;
}

.black {
  background-color: #2C3E50;
}

.white {
  background-color: #FFFFFF;
}

.text-italic {
  font-style: italic;
}

.text-light {
  font-weight: 200;
}

.text-bold {
  font-weight: 700;
}

.text-gray {
  color: #8597A7;
}

.text-black {
  color: #2C3E50;
}

.text-primary {
  color: #1ABC9C;
}

.text-secondary {
  color: #3498DB;
}

.text-white {
  color: #fff;
}

.text-warning {
  color: #ED4A43;
}

.text-alert {
  color: red;
}

.text-success {
  color: #1ABC9C;
}

.text-spacing {
  letter-spacing: 2px;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-shadow {
  text-shadow: 2px 2px 3px rgba(150, 150, 150, 1);
}

.color-green {
  color: #1abc9c;
}

.has-error {
  padding-left: 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  color: #ED4A43;
}

.popup-publish {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(24, 44, 58, 0.9);
  .title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
  }
}
