.profile-picture {
  height: 70px;
  width: 70px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}
.profile-name {
  font-size: 30px;
  font-weight: 500;
}
.profile-email {
  color: gray;
  font-size: 13px;
}
