.profile-list {
  background-color: #202020;
  text-align: center;
 .item {
   border-style: none;
   color: white;
   background-color: #202020;
 }
 img {
	width: 50%;
	height: 50%;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
 }
}
