.publish {
    .image{
      width: 100%;
      height: auto;
    }
    .description{
      width: 100%;
    }
}

.popup-vertical-buttons .popup-buttons {
  display: block;
}
.popup-vertical-buttons .popup-buttons .button{
  display:block;
  min-width: 100% !important;
}
