.sections {
    .selected.button {
        color: #33cd5f;
    }
    .unselected.button, .unselected.button:hover  {
        color: black;
    }
}

.popup-body{
  padding: 0px;
}

.profile-popup{
  position: relative;
  width: 100%;
  h2 {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
  }
  h2 span{
    color: white;
    font: bold 20px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.7);
    padding:5px;
  }
}

.image-profile-popup{
  padding: 0px;
  max-width: 300px;
  max-height: 300px;
  width: 100%;
  height: 100%;
}
