<ion-view ng-controller="adoptionController">
  <ion-nav-title>{{'adoption_title' | translate}}</ion-nav-title>
  <ion-content class="slides" scroll="false">
    <ion-slides options="options" slider="data.slider">
      <ion-slide-page ng-repeat="publication in publications">
        <div class="list card">
          <img class="paw" ng-src="./img/paw.png"></img>
          <div class="item item-avatar">
            <img ng-src="{{publication.authorAvatar}}">
            <h2>{{publication.authorName}}</h2>
            <p>{{publication.postDate}}</p>
          </div>
          <div class="item item-body">
            <img class="full-image" src="{{publication.principalImage}}">
            <p>
              {{publication.description}}
            </p>
            <p>
              <a href="#" class="subdued">{{publication.likesCount}} {{"adoption_likes" | translate}}</a>
              <a href="#" class="subdued">{{publication.commentsCount}} {{"adoption_comments" | translate}}</a>
            </p>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
    <div class="tabs tabs-icon-top">
      <a class="tab-item">
        <i class="icon ion-ios-paw"></i>
        {{"adoption_adopt" | translate}}
      </a>
      <a class="tab-item">
        <i class="icon ion-android-sad"></i>
        {{"adoption_wanted" | translate}}
      </a>
      <a class="tab-item">
        <i class="icon ion-ios-flag-outline"></i>
        {{"adoption_found" | translate}}
      </a>
    </div>
  </ion-content>
</ion-view>
