<ion-view class="pope-background" ng-controller="facebookLoginController">
  <ion-content scroll="false">
    <div class="text-center welcome-title">{{"facebook_message" | translate}}</div>
    <button class="facebook-sign-in button button-full icon-left ion-social-facebook" ng-click="facebookSignIn()">
      {{"facebook" | translate}}
    </button>
    <button class="no-one button button-dark button-full icon-left ion-ios-person-outline" ui-sref="sections">
      {{"no-one" | translate}}
    </button>
  </ion-content>
</ion-view>
