<ion-view ng-controller="homeController">
  <ion-content view-title="Home">
    <button ng-click="go('home')" class="button button-full button-positive">
      <i class="icon ion-home"></i>Home
    </button>
    <button ng-click="go('adoption')" class="button button-full button-balanced">
      <i class="icon ion-ios-paw"></i>Adoption
    </button>
    <button ng-click="go('home')" class="button button-full button-energized">
      <i class="icon ion-ios-analytics"></i> Cross
    </button>
    <button ng-click="go('home')" class="button button-full button-assertive">
      <i class="icon ion-medkit"></i> Veterinary
    </button>
    <button ng-click="go('home')" class="button button-full button-royal">
      <i class="icon ion-android-walk"></i> Pet walk
    </button>
    <button ng-click="go('home')" class="button button-full button-dark">
      <i class="icon ion-ios-flag-outline"></i> Wanted
    </button>
  </ion-content>
</ion-view>
