<ion-view ng-controller="profileController">
  <ion-nav-bar class="bar-stable">
    <ion-nav-title>{{'profile_title' | translate}}</ion-nav-title>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <img class="w100" ng-src="{{user.picture}}">
    <h1 class="color-black text-center">Soy {{user.name}}!</h2>
    <h5 class="color-black text-center">San Miguel de Tucumán, Argentina</h5>
    <div class="list">
      <div class="item item-divider">
       Confia en mi, mirá:
      </div>
      <div class="row line-b">
        <div class="col"><h6 class="text-gray">Miembro desde</h5></div>
        <div class="col ellipsis"><h5 class="color-black oh">12/01/2016</h5></div>
      </div>
      <div class="row line-b">
        <div class="col"><h6 class="text-gray">Centro educativo</h5></div>
        <div class="col ellipsis"><h5 class="color-black oh">Faculdad de Ciencias Exactas UNT</h5></div>
      </div>
      <div class="row line-b">
        <div class="col"><h6 class="text-gray">Empleo</h5></div>
        <div class="col ellipsis"><h5 class="color-black oh">Bitpay</h5></div>
      </div>
      <div class="item item-divider">
       Descripción:
      </div>
      <div class="item item-divider">
       Cuenta verificada:
      </div>
      <div class="item item-icon-right" href="#">
        Facebook
        <i class="icon ion-social-facebook-outline"></i>
      </div>
      <div class="item item-divider">
       Visitame en:
      </div>
      <div class="item item-icon-right line-b" href="#">
        Facebook
        <i class="icon ion-social-facebook-outline"></i>
      </div>
      <div class="item item-icon-right line-b" href="#">
        Instagram
        <i class="icon ion-social-instagram-outline"></i>
      </div>
      <div class="item item-icon-right line-b" href="#">
        Twitter
        <i class="icon ion-social-twitter-outline"></i>
      </div>
      <div class="item item-divider">
       Mis publicaciones
      </div>
      <a ng-repeat="publication in publications | orderBy : 'postDate'" class="item item-thumbnail-left item-text-wrap" href="#">
        <img src="{{publication.principalImage}}">
        <time>{{publication.postDate * 1000 | amTimeAgo}}</time>
        <p>{{publication.description}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>
