<ion-view ng-controller="publishController" class="publish">
  <ion-nav-title>{{'publish_title' | translate}}</ion-nav-title>
  <ion-nav-buttons side="primary">
    <button  class="button button-clear icon ion-android-send"></button>
  </ion-nav-buttons>
  <ion-content scroll="false">
    <div ng-show="!imgURI">
      <button class="button button-block" ng-click="fromCamera()">{{"publish_camera" | translate}}</button>
      <button class="button button-block" ng-click="fromGallery()">{{"publish_gallery" | translate}}</button>
    </div>
    <div class="row responsive-sm" ng-show="imgURI !== undefined">
      <div class="col">
        <img class="image" ng-src="{{imgURI}}">
      </div>
    </div>
    <div class="row responsive-sm" ng-show="imgURI !== undefined">
      <div class="col">
        <textarea class="description" name="description" ng-model="incident.comment"></textarea>
      </div>
    </div>
  </ion-content>
</ion-view>

<!--
<div class="row publish" ng-if="imagesNotEmpty">
  <div class = "col col-50" ng-repeat="image in images">
    <div class="img-container"><img ng-src="{{image}}" style="width:100%; height:auto;"></img></div>
    <textarea name="description" ng-model="incident.comment">
    </textarea>
  </div>
</div>
-->
