<ion-view ng-controller="publishController" class="publish">
  <ion-nav-title>{{'publish_title' | translate}}</ion-nav-title>
  <ion-nav-buttons side="right">
    <i class="icon ion-android-send size-24 m5"></i>
  </ion-nav-buttons>
  <ion-content scroll="false">
    <div ng-show="!imgURI">
      <button class="button button-block icon ion-camera button-positive" ng-click="fromCamera()"></button>
      <button class="button button-block icon ion-images button-calm" ng-click="fromGallery()"></button>
    </div>
    <label class="item item-input item-floating-label" ng-show="imgURI !== undefined">
      <span class="input-label">{{'publish_description' | translate}}</span>
      <input type="text" placeholder="Description">
    </label>
    <button ng-show="imgURI !== undefined" class="button button-block button-stable" ng-click="categoryPopup()">{{'publish_category' | translate}}</button>
    <div class="row responsive-sm" ng-show="imgURI !== undefined">
      <div class="col">
        <img class="image" ng-src="{{imgURI}}">
      </div>
    </div>
  </ion-content>
</ion-view>

<!--
<div class="row publish" ng-if="imagesNotEmpty">
  <div class = "col col-50" ng-repeat="image in images">
    <div class="img-container"><img ng-src="{{image}}" style="width:100%; height:auto;"></img></div>
    <textarea name="description" ng-model="incident.comment">
    </textarea>
  </div>
</div>
-->
