<ion-view ng-controller="publishController" class="publish" cache-view="false">
  <ion-nav-title>{{'publish_title' | translate}}</ion-nav-title>
  <ion-nav-buttons side="right">
    <i ng-show="formData.imgURI" ng-click="sendPopup()" ng-class="{'text-gray': !formData.description || !formData.category || !formData.imgURI}" class="icon ion-ios-paperplane-outline size-36 m10r"></i>
  </ion-nav-buttons>
  <ion-content>
    <div ng-show="!formData.imgURI" class="publish-button">
      <button class="button icon ion-camera button-positive br100 db publish-button" ng-click="fromCamera()"></button>
      <button class="button icon ion-images button-calm br100 db publish-button" ng-click="fromGallery()"></button>
    </div>
    <div ng-show="formData.imgURI">
      <div class="list card">
        <div class="m20t" ng-show="err" ng-click="resetError()">
          <span class="has-error">
            {{err}}
          </span>
        </div>
        <form name="publishForm">
          <label class="item item-input item-stacked-label">
            <span class="input-label">{{'publish_category'| translate}} <small class="has-error" ng-show="publishForm.category.$invalid && !publishForm.category.$pristine">Is required</small></span>
            <input readonly ng-click="categoryPopup()" ng-model="formData.category" type="text" id="category" name="category" autocomplete="off" required></input>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">{{'publish_description' | translate}}
              <small class="has-error" ng-show="publishForm.description.$error.required && !publishForm.description.$pristine">Is required</small>
              <small class="has-error" ng-show="publishForm.description.$error.maxlength && !publishForm.description.$pristine">To long!</small>
            </span>
            <textarea ng-model="formData.description" type="text" name="description" autocomplete="off" ng-maxlength="100" required></textarea>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">{{'publish_image' | translate}}<small class="has-error" ng-show="publishForm.image.$invalid && !publishForm.image.$pristine">Is required</small></span>
            <div class="row responsive-sm">
              <div class="col">
                <img type="image" name="image" id="image" ng-src="{{formData.imgURI}}" required>
              </div>
            </div>
          </label>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
