<ion-view ng-controller="sectionsController" cache-view="false" class="sections">
  <ion-nav-title>
    <div ng-switch on="section">
      <div ng-switch-when="Adopt">
        {{'sections_adopt' | translate}}
      </div>
      <div ng-switch-when="Wanted">
        {{'sections_wanted' | translate}}
      </div>
      <div ng-switch-when="Lost">
        {{'sections_found' | translate}}
      </div>
    </div>
  </ion-nav-title>
  <ion-slides class="slides has-header has-footer" options="options" slider="data.slider">
    <ion-slide-page ng-repeat="publication in publications">
      <ion-content>
        <ion-scroll>
          <div class="list card">
            <div class="item item-avatar m0b m0t">
              <img ng-src="{{publication.authorAvatar}}">
              <h2>{{publication.authorName}}</h2>
              <p>{{publication.postDate * 1000 | amTimeAgo}}</p>
            </div>
            <div class="item item-body m0b m0t p0">
              <img class="full-image" src="{{publication.principalImage}}">
              <p class="m10l">
                {{publication.description}}
              </p>
            </div>
            <div class="button-bar">
              <button ng-class="{'ion-ios-star-outline unselected': !isFavorite(publication), 'ion-ios-star selected': isFavorite(publication)}" class="button button-icon icon" ng-click="setFavorite(publication)"></button>
              <button class="button button-icon icon ion-ios-upload-outline" ng-click="share(publication.description,publication.principalImage)"></button>
              <button class="button button-icon icon ion-ios-more-outline"></button>
            </div>
          </div>
        </ion-scroll>
      </ion-content>
    </ion-slide-page>
  </ion-slides>
</ion-view>
