<ion-view ng-controller="settingsController">
  <ion-nav-bar class="bar-stable">
    <ion-nav-title>{{'settings_title' | translate}}</ion-nav-title>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="list">
      <div class="item item-divider item-icon-left">
        <i class="icon ion-android-globe"></i>
        {{"settings_select_language" | translate}}
      </div>
      <ion-list class="item">
        <ion-radio ng-repeat="language in availableLanguages" ng-value="language.isoCode" ng-model="currentLanguage"
          ng-click="changeLanguage(language.isoCode)">{{language.name}}
        </ion-radio>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
