<ion-content ng-controller="sidebarController" class="sidebar">
  <div class="list">
    <div ng-show="user" class="item item-avatar" menu-close ui-sref="profile">
      <img ng-src="{{user.picture}}">
      <h2>{{user.name}}</h2>
      <p>{{user.email}}</p>
    </div>
    <div ng-show="!user">
      <div class="item item-icon-left"><i class="icon ion-ios-person-outline"></i>No profile</div>
    </div>
    <div class="item item-divider">
     {{"sections" | translate}}
    </div>
    <a menu-close ui-sref="sections({section: section})" ng-click="changeSection('Adopt')" class="item l5h" ng-class="{'sidebar-selected': section == 'Adopt', 'sidebar-unselected': section != 'Adopt'}">{{"sections_adopt" | translate}}</a>
    <a menu-close ui-sref="sections({section: section})" ng-click="changeSection('Wanted')"  class="item l5h" ng-class="{'sidebar-selected': section == 'Wanted', 'sidebar-unselected': section != 'Wanted'}">{{"sections_wanted" | translate}}</a>
    <a menu-close ui-sref="sections({section: section})" ng-click="changeSection('Lost')" class="item l5h" ng-class="{'sidebar-selected': section == 'Lost', 'sidebar-unselected': section != 'Lost'}">{{"sections_found" | translate}}</a>
    <div class="item item-divider">
     {{"options" | translate}}
    </div>
    <a ng-show="user" menu-close ui-sref="posts" class="item item-icon-left l5h"><i class="icon ion-ios-photos-outline"></i>{{"sidebar_posts" | translate}}</a>
    <a menu-close ui-sref="wishlist" class="item item-icon-left l5h"><i class="icon ion-ios-star-outline"></i>{{"sidebar_wish_list" | translate}}</a>
    <a ng-show="user" menu-close ui-sref="publish" class="item item-icon-left l5h"><i class="icon ion-ios-camera-outline"></i>{{"sidebar_publish" | translate}}</a>
    <a menu-close ui-sref="chats" class="item item-icon-left l5h"><i class="icon ion-ios-chatbubble-outline"></i>Chats</a>
    <a menu-close ui-sref="settings" class="item item-icon-left l5h"><i class="icon ion-ios-gear-outline"></i>{{"sidebar_settings" | translate}}</a>
    <a menu-close ui-sref="help" class="item item-icon-left l5h"><i class="icon ion-ios-help-outline"></i>{{"sidebar_help" | translate}}</a>
  </div>
  <div ng-show="user" ng-click="showLogOutMenu()" class="row line-t">
    <ul class="list">
      <li class="item">
        {{"sidebar_logout" | translate}}
      </li>
    </ul>
  </div>
  <div ng-show="!user" ng-click="exit()" class="row line-t">
    <ul class="list">
      <li class="item">
        {{"sidebar_exit" | translate}}
      </li>
    </ul>
  </div>
</ion-content>
